<h1>Welcome to MusicApp!</h1>

<% if logged_in? %>
  <h2>Welcome, <%= current_user.email%>!</h2>
  <form action="<%= session_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Logout">
  </form>
<% else %>
  <a href="<%= new_user_url %>" class= "signup">Sign Up</a>
  <a href="<%= new_session_url %>" class="login">Login</a>
<% end %>


 <ul>
  <%# @users.each do |user| %>
    <%# <li>USER: %>
      <%#= user.email %>
    </li>
  <%# end %>
</ul> 