<h1>Edit <%= @sub.title %></h1>

<form action="<%= sub_url(@sub) %>" method="post">
<input type="hidden" name="_method" value="patch">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

<br>
<br>

<label>Title:
<input type="text" name="sub[title]" value="<%= @sub.title %>">
</label>

<br>
<br>
<label>Description:
<textarea name="sub[description]" cols="30" rows="10"><%= @sub.description %></textarea>
</label>

<br>
<br>

<input type="hidden" name="sub[moderator_id]" value="<%= current_user.id %>">
<input type="submit" value ="Edit Sub">
</form>